*{
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.col {
    width: 100%;
}
.relative
{
    position: relative;
    width: 32%;
    height: auto;
    border: 2px solid black;
    background-color:grey;
    display: inline-block;
    text-align: center;
    font-family: verdana;
    /*margin: 1%;   */
    padding-top: 15px;
}

.box_space {
    margin-left: 10px;
}

#chicken 
{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    background-color:pink;
}
#beef{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 100px;
    height: 30px;
    border: 2px solid black;    
    text-align: center;
    background-color:red;
}
#sushi{
    position: absolute;
    top: -2px;
    right: -2px;
    width: 100px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    background-color:yellow;
}   

@media screen and (max-width: 991px) and (min-width: 768px) {
    
    .relative1 {
        margin-left: 15px;
    }

    .col-6 {
        width: 48%;
    }
    .col-12 {
        width: 100%;
        margin-top: 15px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 767px) {
    .abx {
        width: 100%;
        margin-top: 15px;
    }
    .col-12 {
        width: 100%;
        margin-top: 15px;
        margin-left: 0px;
    }

    .relative1 {
        margin-left: 0px;
    }
}